.project-container{
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
}

.project-card{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.project-heading{ 
    display: flex;
    flex-direction: row;
    color: var(--black);
}

.project-view{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    gap: 5px;
}

.palette-box{
    display: inline-block;
    width: 10px;
    height: 20px;
    border: 1px solid black;
    margin-right: 2px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .project-container{
       padding-bottom: 50px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .project-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .project-view{
        display: flex;
        justify-content: flex-end;
        align-items: top;
        margin: 0;
    }
}

@media (min-width: 1280px) {
    .project-view{
        display: flex;
        justify-content: flex-end;
        align-items: top;
        margin: 0;
    }
 }